<app-header></app-header>
<div class="home-container">
    <div class="all-movies container">
        <div class="trending-movies">
            <h4 class=" p-2 h5">Films</h4>   
            <div class="movie-container">
              <div class="movie-container">
                <div *ngFor="let movie of movies" class="movie" (click)="goToDetail(movie.id, 'movie')"><!--(click)="goToDetail(movie.id) -->
                    <div class="poster" style="position: relative;">
                      <img class="rounded" *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
                      
                      <i (click)="deleteFavoris(getFavorisId(movie.id))" class="bi bi-heart-fill favoris"></i>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="home-container">
  <div class="all-movies container">
      <div class="trending-movies">
          <h4 class=" p-2 h5">Series</h4>   
          <div class="movie-container">
            <div class="movie-container">
              <div *ngFor="let serie of series" class="movie" (click)="goToDetail(serie.id, 'tv')">  <!--(click)="goToDetail(movie.id) -->
                  <div class="poster" style="position: relative;">
                    <img class="rounded" *ngIf="serie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="{{ serie.title }}">
                    
                    <i (click)="deleteFavoris(getFavorisId(serie.id))" class="bi bi-heart-fill favoris"></i>
                </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->