<app-header></app-header>
<div class="home-container">
    <div class="all-movies container">
        <div class="trending-movies">
            <h4 class=" p-2 h5">Films et Series populaires aujourd'hui</h4>   
            <div class="movie-container">
              <div class="movie-container">
                <div *ngFor="let movie of movies" class="movie" (click)="goToDetail(movie.id)">
                    <div class="poster" style="position: relative;">
                      <img class="rounded" *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
                      
                      <i (click)="!movie.isFavoris ? addFavoris(movie.id) : deleteFavoris(getFavorisId(movie.id))" [class]="movie.isFavoris ? 'bi bi-heart-fill favoris' : 'bi bi-heart favoris' " ></i>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



<app-header></app-header>
<div class="home-container">
    <div class="all-movies container">
        <div class="trending-movies">
            <h4 class=" p-2 h5">Films et Series populaires aujourd'hui</h4>   
            <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex flex-nowrap overflow-auto">
                            <div *ngFor="let movie of movies; let i = index" class="movie" (click)="goToDetail(movie.id)">
                                <div class="poster" style="position: relative;">
                                    <img class="rounded" *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
                                    <i (click)="!movie.isFavoris ? addFavoris(movie.id) : deleteFavoris(getFavorisId(movie.id))" [class]="movie.isFavoris ? 'bi bi-heart-fill favoris' : 'bi bi-heart favoris' " ></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>